$form-range-track-height: 1px !default;
$form-range-thumb-height: 11px;
//$form-range-thumb-background: $global-primary-background;
$form-range-track-focus-background: darken($global-primary-background, 15%) !default;
